body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-estilo {
    width: 50%;
    margin: 0 auto;
    padding: 10%;
}
.form-estilo, .form-estilo-titulo {
    text-align: center;
}
.form-estilo .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-estilo input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-estilo input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}